html, body {margin:0;padding:0;height:100%;width:100%}
.treeContainer{
    
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: auto;
    max-height: auto;
   
}

.tree ul {
    padding-top: 20px; position: relative;
    
    /*transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;*/
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    
    /*transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;*/
}

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child{ padding-top: 0;}

.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*bottom root of nodes*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}
/*This is for the render of the data inside the nodes and border of the nodes*/
.tree li div{
    border: 1px solid #cccccc;
    padding: 5px 60px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    /*transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;*/
}
.tree li div:hover, .tree li div:hover+ul li div {
    background: #c8e4f8; color: #000; border: 1px solid #b4a194;
}
.tree li div:hover+ul li::after, 
.tree li div:hover+ul li::before, 
.tree li div:hover+ul::before, 
.tree li div:hover+ul ul::before{
    border-color:  #11336e;
}